<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="/img/youtube-pp-01.jpg"
        alt="Mohamad Fachreiza"
        class="img-thumbnail rounded-circle width="
        width="200px"
      />
      <h1 class="display-4">Mohamad Fachreiza</h1>
      <p class="lead">Programmer | Content Creator</p>
    </div>
  </div>
</div>
